{# templates/professor/create-class.html.twig #}
{% extends 'professor/base.html.twig' %}

{% block title %}
Create class
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>
{% endblock %}

{% block body %}
    <h1> Cette page est pour la creation d'une classe </h1>
{% endblock %}
