{% extends 'base.html.twig' %}

{% block title %}
Espace parent : home page
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>
{% endblock %}

{% block body %}
    <h1> Cette page est la page home pour l'espace parent. elle contiendra prochainement l'acces pour les notes, bulletins...</h1>
{% endblock %}