{% extends 'base.html.twig' %}

{% block title %}
Espace parent : home page
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>
{% endblock %}

{% block body %}
    <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#page-top">Espace Parent</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="sidebar-brand"><a href="#page-top"> Hello {{ app.user.username }}</a></li>
        {% endif %}<li class="sidebar-nav-item"><a href="/parent-home"> Espace Parent Home  </a></li>
            <li class="sidebar-nav-item"><a href="#"> Acceder aux notes  </a></li>
            <li class="sidebar-nav-item"><a href="#"> Acceder aux bulletins </a></li>
            <li class="sidebar-nav-item"><a href="{{ path('app_logout') }}">Logout</a></li>
        </ul>
    </nav>
    <h1> Cette page est la page home pour l'espace parent. elle contiendra prochainement l'acces pour les notes, bulletins...</h1>
{% endblock %}