{% extends 'base.html.twig' %}

{% block title %}
Sign up page
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>
{% endblock %}

{% block body %}
        <h1>Forbidden page : you do not have the right profile to access in this page. Please verirify if you were in the right login page.</h1>
         <a href="/login"> Login page for professors (Espace professeur) </a> --------
          <a href="/login-parent"> Login page for parents (Espace parent) </a>
{% endblock %}
